# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*/bin/

# Code coverage profiles and other test artifacts
_build/
*.out
coverage.*
*.coverprofile
profile.cov
*hub-bundle*.tar.gz
*spoke-bundle*.tar.gz
*fleetconfig-support-bundle/

# Dependency directories (remove the comment below to include it)
# vendor/
*/charts/*/charts/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
*__debug_bin*
.devspace/
.idea/
.vscode/
venv/
*__pycache__/
requirements.txt
.DS_Store

# Temp files
tmp/
